* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: #FFCCAC;
    border-bottom: #373737 3px solid;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.div__img-container img{
    margin-left: 2em;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.div__img-container{
    width: 150px;
    height: 150px;
}

h1{
    margin: auto;
    color: #373737;
    font-size: 5em;
}


.item__accion{
    list-style: none;
    position: relative;
    height: 100%;
    margin: 2em 0;
}

.fa-bars{
    margin-right: 2em;
    margin-top: 2em;
    color: #373737;
    z-index: 1;
}

.nav-container__item{
    margin-top: 1em;
    position: absolute;
    background-color: #373737;
    margin-left: -7em;
    margin-top: -100%;
    opacity: 0.9;
    z-index: 10;
}

.item__accion a{
    text-decoration: none;
    margin: 0 10px;
    color: #FFCCAC;
    transition: border-bottom .2s;
}

.item__accion a:hover{
    border-bottom: 3px #FFCCAC solid;
}

.mostrar{
    margin-top: 0%;
}

/* -------------------------------------------MAIN------------------------------------------*/

main{
    background-color: #66B9BF;
    width: auto;
    height: 100vh;
}

.formulario{
    display: flex;
    padding: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.form__article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.formulario ul{
    list-style: none;
}

.formulario li{
    margin: 35px;
}

.form__article label{
    font-size: 20px;
}

.boton{
    display: flex;
    width: 100%;
    justify-content: center;
}


/*_______________________________________________FOOTER________________________________________ */

footer{
    background-color: #373737;
    width: 100%;
    height: 10vh;
}

.contacto{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-decoration: none;
}

.contacto li{
    margin: auto;
    list-style: none;
    align-content: center;
    justify-content: center;
    padding-top: 1.2em;
}

.contacto li a{
    text-decoration: none;
    color: #F4F4F4;
}

.contacto li a i{
    margin: 4px;
    color: #F4F4F4;
}

